# Android Studio Settings
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
\.idea/markdown-exported-files\.xml

*.iml
.gradle
/local.properties

/build
/captures
.externalNativeBuild

# other
.DS_Store
